    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">В начало</a>
            </p>
            <p class="mb-1">"Туда и Сюда" — с нами приятно всегда!</p>
            <br>
                        <h4 class="mb-1">Как с нами связаться?</h4>
                        <br>
                        <ul class="list-unstyled">
                            <li><a class="mb-1">Наша почта: <a href="mailto:pochta12345@mail.ru?subject=Предложения и комментарии">pochta12345@mail.ru</a></a></li>
                            <li><a class="mb-1">Наш адрес: <a href="https://yandex.ru/maps/-/CCUBjOD1gC">ул.Ленина, д.5</a></a></li>
                        </ul>
        </div>
    </footer>